node_modules
dist
build
public

.gitignore
.prettierignore
.prettierrc.json
eslint.config.ts
index.html
jest.config.ts
package.json
package-lock.json
README.md
service-worker.ts
tsconfig.json
tsconfig.tsbuildinfo
vite.config.js